.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    border-top: 3px solid var(--yellow-color);
  }
  
  .list {
    display: flex;
    width: 100%;
    gap: 50px;    
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: calc((100% - 100px) / 3);
    height: 200px;
    background-color: rgba(217, 217, 217, 0.5);
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    gap: 30px;
  }
  
  .infoList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
  
  .subtitle {
    text-transform: uppercase;
    text-align: center;
  }
  
  .link {   
    color: inherit;
    text-decoration: none;
  }
  
  .link:hover,
  .link:focus {
    color: var(--accent-text-color);
  }
  
  .wrapper {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    width: 100%;
  }
  
  .map {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }