.wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    max-width: 200px;
    height: 240px;    
    background-color: #ffffff;
}

.text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #212121;    
}