.container {
    display: flex;
    justify-content: space-between;    
    padding: 20px;
    border-top: 3px solid var(--yellow-color);    
    background-color: var(--secondary-background-color);
  }
      
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    gap: 30px;
    color: var(--secondary-text-color);
  }
  
  .center {    
    align-items: center;
    width: 400px;
  }

  .link {
    color: var(--secondary-text-color);    
    transition: transform 250ms var(--timing-function);    
  }

  .link:hover, .link:focus {
      color: var(--accent-text-color);
    }
   
  .policy {    
    text-align: center;
    color: var(--yellow-color);
  }

  .contactsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contactLink {   
    color: inherit;    
  }
  
  .contactLink:hover,
  .contactLink:focus {
    color: var(--accent-text-color);
  }