  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .schedule {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #757575;
  }
  
  .contactlist {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }
  
  .contactItem {
    display: flex;
  }
  
  .contactLink {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #757575;
  }
  
  .contactLink:hover,
  .contactLink:focus {
    color: #2196f3;
  }