  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .schedule {
    display: flex;
    align-items: center;
    gap: 10px;    
  }
  
  .contactlist {
    display: flex;
    align-items: center;
    gap: 20px;    
  }
  
  .contactItem {
    display: flex;
  }
  
  .contactLink {
    display: inline-flex;
    align-items: center;
    gap: 10px;    
  }
  
  .contactLink:hover,
  .contactLink:focus {
    color: var(--accent-text-color);
  }