  .sociallist {
    display: flex;
    align-items: center;
    gap: 20px;    
  }

  .socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-text-color);    
  }
  
  .socialLink:hover,
  .socialLink:focus {
    background-color: rgba(33, 150, 243, 0.6);
  }
  
  .icon__svg {
    fill: var(--primary-background-color);
  }
  
  .contactLink:hover .icon__svg,
  .sociallist:focus .icon__svg {
    fill: var(--accent-text-color);
  }
  
  .socialItem {
    display: flex;
    align-items: center;
  }
  
  .socialLink {
    text-decoration: none;
    fill: var(--secondary-text-color);
  }
  
  .socialLink:hover,
  .socialLink:focus {
    fill: var(--accent-text-color);
  }