  .wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }  
     
  .text {    
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  