.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  
  .link {
    position: relative;
    display: inline-block;
    overflow: hidden;
  
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
  }
  
  .link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
  }
  
  .link:hover::after {
    width: 100%;
  }
  
  .active {
    color: #2196f3;
    cursor: default;
  }
  