:root {
  --yellow-color: #ffbc10;
  --white-color: #ffffff;
  --primary-text-color: #0e0f30;
  --secondary-text-color: #e5e4e2;
  --accent-text-color: #2196f3;
  --primary-background-color: #e5e4e2;
  --secondary-background-color: #0e0f30;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.theme {
  transition: 1s all ease;
}

.light {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.dark {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;  
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;  
  margin-bottom: 10px;  
}

h3 {
  font-size: 1rem;
  font-weight: 500;  
  margin-bottom: 10px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  font-size: 0.75rem;
  text-decoration: none;
  color: inherit;
}

span {
  font-size: 0.75rem;
}

p {
  font-size: 0.75rem;
  line-height: 1.5;
}

b {
  font-size: 0.75rem;
  font-weight: 700;
}

.container {
    width: 100%;
    margin: 0 auto;   
  }
  
@media screen and (min-width: 320px) {
    .container {
      max-width: 320px;
    }
}
  
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
}
  
@media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
}

.sectionsWrapper {
  padding: 50px;
}
  