.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-top: 3px solid var(--yellow-color);
    border-bottom: 3px solid var(--yellow-color);
    background-color: var(--secondary-background-color);
}